DBUSER=dbUsername
DBPASS=dbPassword
DBIP=mysql-db:3306
DBNAME=bookstore
PORT=8080
JWT_SECRET=verySecretToken123Extra89kj2345ivj32g3423hf4j234h2d3jh42j3f423gg
JWT_EXPIRE_MINUTES=60
DOCKER_MYSQL_ROOT_PASSWORD=verySecretPass23423dfgdfgvj32g3423hf4j234h2d345cvbcvb
